[Unit]
Description=Nexus Repository Manager

[Service]
Type=simple
ExecStart=/opt/nexus-3.67.1-01/bin/nexus start
ExecStop=/opt/nexus-3.67.1-01/bin/nexus stop
User=root
Group=root
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

