- name: Install Maven on other Linux distributions
  shell: >
    wget https://apache.mirror.digitalpacific.com.au/maven/maven-3/3.9.6/binaries/apache-maven-3.9.6-bin.tar.gz &&
    tar -xf apache-maven-3.9.6-bin.tar.gz &&
    mv apache-maven-3.9.6 /opt &&
    ln -s /opt/apache-maven-3.9.6 /opt/maven &&
    echo 'export M2_HOME=/opt/maven' >> /etc/profile.d/maven.sh &&
    echo 'export PATH=${M2_HOME}/bin:${PATH}' >> /etc/profile.d/maven.sh &&
    source /etc/profile.d/maven.sh
  when: ansible_os_family == 'Linux' and ansible_distribution not in ['CentOS', 'Ubuntu']
